<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Australia Rain Prediction</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- Site Icons -->
<link rel="shortcut icon" href="{{ url_for('serve_static', filename='images/favicon.ico') }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ url_for('serve_static', filename='images/apple-touch-icon.png') }}">


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('serve_static', filename='css/bootstrap.min.css') }}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('serve_static', filename='css/style.css') }}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('serve_static', filename='css/responsive.css') }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('serve_static', filename='css/custom.css') }}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ url_for('serve_static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
<!-- UiKit CSS -->
<link rel="stylesheet" href="{{ url_for('serve_static', filename='css/uikit.min.css') }}">


</head>

<body id="page-top" class="politics_version">

	<!-- LOADER -->
	<div id="preloader">
		<div id="main-ld">
			<div id="loader"></div>
		</div>
	</div><!-- end loader -->
	<!-- END LOADER -->

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">

			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<!-- <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger active" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">Explanation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#portfolio">Chart</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#team">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">Prediction</a>
					</li>
				</ul>
			</div> -->
		</div>
	</nav>

	<!-- <section id="home" class="main-banner parallaxie"
		style="background: url('static/uploads/FP1.png')">
		<div class="heading">
			</h3>
		</div>
	</section> -->

	<div id="about" class="section wb" data-aos="zoom-in">
		<div class="container">
			<div class="row">
				<div class="">
					<div class="message-box">
						<div class="section-title text-center">
							<h3>Overview</h3>

							<p style='text-align: justify;'>  
								**Anggota Kelompok** <br>
								1. Erika Taniya Devi Winckler (PYTN-KS14-020) <br>
								2. ANAK AGUNG INTEN CAHYANI DEWI (PYTN-KS14-021) <br>
								3. NI NYOMAN SEKAR WANDANI (PYTN-KS14-024) <br>
								<br>
								Dengan adanya perkembangan teknologi dan informasi saat ini, kebutuhan akan informasi cuaca yang dapat diandalkan sangatlah penting dalam berbagai aspek kehidupan sehari-hari, sehingga Prediksi cuaca merupakan salah satu faktor penting untuk menentukan cuaca atau kondisi lingkungan di berbagai wilayah salah satunya  di Australia. Dataset yang digunakan adalah Dataset Rain in Australia yang berisi kumpulan data cuaca yang mencakup informasi tentang berbagai faktor cuaca di berbagai lokasi di Australia, serta apakah terjadi hujan atau tidak pada hari berikutnya. Dataset ini mencakup fitur-fitur seperti suhu udara, kelembaban, kecepatan angin, tekanan udara, curah hujan, dan sebagainya. Total data sebanyak 145460 baris data. tujuan yang ingin dicapai yaitu menentukan model terbaik pada dataset Rain in Australia
							<p>
								
							<p style='text-align: justify;'>
								Dataset yang digunakan berasal dari Kaggle yang memiliki beragam variasi data seperti date, location, MinTemp, MaxTemp, dan rainfall, RainToday, RainTomorrow. Oleh sebab itu diperlukan sebuah aplikasi tentang Prediksi Cuaca.
							</p>

							<p style='text-align: justify;'>
								Pada Final Project 2, Data diambil dari kaggle dengan link : https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package
							</p>	
						
						</div><!-- end title -->

						<div class="tab-content mt-3 " id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
								aria-labelledby="nav-home-tab">
								<h3 style="text-align:center;font-weight:bolder; " class="text-muted">Dataset</h3>
								<p style='text-align: justify;'>
									Data Description
								</p>
								<ul>
									<i>Date - tanggal hari itu
									2. Location - lokasi, nama kota di Australia
										3. MinTemp - temperatur terendah hari itu dalam celcius
										4. MaxTemp - temperatur tertinggi hari itu dalam celcius
										5. Rainfall - jumlah curah hujan hari itu dalam mm
										6. Evaporation - jumlah evaporasi dalam mm dari Class A pan selama 24 jam sebelum jam 9 pagi hari itu
										7. Sunshine - jumlah jam hari itu cerah dengan cahaya matahari
										8. WindGustDir - arah kecepatan angin yang paling tinggi selama 24 jam sebelum jam 12 malam hari itu
										9. WindGustSpeed - kecepatan angin yang paling tinggi dalam km/jam selama 24 jam sebelum jam 12 malam hari itu
										10. WindDir9am - arah angin jam 9 pagi
										11. WindDir3pm - arah angin jam 3 sore
										12. WindSpeed9am - kecepatan angin jam 9 pagi dalam km/jam dihitung dari rata-rata kecepatan angin 10 menit sebelum jam 3 sore
										13. WindSpeed3pm - kecepatan angin jam 3 sore dalam km/jam dihitung dari rata-rata kecepatan angin 10 menit sebelum jam 3 sore
										14. Humidity9am - humiditas jam 9 pagi dalam persen
										15. Humidity3pm - humiditas jam 3 sore dalam persen
										16. Pressure9am - tekanan udara jam 9 pagi dalam hpa
										17. Pressure3pm - tekanan udara jam 3 sore dalam hpa
										18. Cloud9am - persentase langit yang tertutup awan jam 9 pagi. dihitung dalam oktas, unit ⅛, menghitung berapa unit ⅛ dari langit yang tertutup awan. Jika 0, langit cerah, jika 8, langit sepenuhnya tertutup awan.
										19. Cloud3pm - persentase langit yang tertutup awan jam 3 sore
										20. Temp9am - temperatur jam 9 pagi dalam celcius
										21. Temp3pm - temperatur jam 3 sore dalam celcius
										22. RainToday - apakah hari ini hujan: jika curah hujan 24 jam sebelum jam 9 pagi melebihi 1mm, maka nilai ini adalah 1, jika tidak nilai nya 0
										23. RainTomorrow - variable yang mau di prediksi
									</i>
								</ul>
							</div>

						</div>
					</div><!-- end messagebox -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->


	<div id="portfolio" class="section lb" data-aos="fade-up">
		<div class=" container">
			<div class="section-title text-center">
				<h3>Chart</h3>
				<p>A chart can represent tabular numeric data, functions or some kinds of quality structure and provides
					different info.
				</p>
			</div><!-- end title -->

			<!-- <section id="home" class="main-banner parallaxie" -->
			<!-- style="background: url('static/uploads/asu.png')">
			<div class="heading">
				</h3>
			</div>
			</section>
			<div class="gallery-menu row">
				<div class="col-md-12">

				</div>
			</div> -->



			<div class="gallery-list row">
				<!-- Gal_A Section -->
				<!-- 1 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('serve_static', filename='uploads/scatter_numer.png') }}"
										data-caption="Transport Name">
										<img src="{{ url_for('serve_static', filename='uploads/scatter_numer.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>
							<p style="text-align:center;font-family:'Segoe UI';font-weight: bolder;" class="text-dark">
								Humidity vs Rainfall</p>
						</div>
					</div>
				</div>
				<!-- 2 -->
				
				<!-- 3 -->
	
				<!-- 4 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('serve_static', filename='uploads/rainfall_tomorrow.png') }}"
										data-caption="Route">
										<img src="{{ url_for('serve_static', filename='uploads/rainfall_tomorrow.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>
							<p style="text-align:center;font-family:'Segoe UI';font-weight: bolder;" class="text-dark">
								Jumlah Data Hujan atau Tidak untuk label Hari besok Hujan</p>
						</div>
					</div>
				</div>

				<!-- Gal_B Section -->
				<!-- 1 -->
				<!-- 2 -->
				
				<!-- 3 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							
							
						</div>
					</div>
				</div>

				<!-- Gal_C Section -->
				<!-- 1 -->
				
				<!-- 2 -->
				<!-- 3 -->
		</div>
	</div>
	</div>

	
			</div><!-- end title -->
			<div class="container-sm">
						<div id="contact" class="section lb" data-aos="zoom-in-down">
							<div class="container">
								<div class="section-title text-center">
									<h3>Prediction</h3>
									<p class="text-dark">In this Rain Prediction section will be using method, namely <b>Logistic Regression</b>.
									</p>
								</div><!-- end title -->
								<div class="container-sm">
									<h3 style="text-align:center;font-weight:bolder;">Rain Prediction</h3>
									<form action="{{ url_for('predict_1')}}" method="post">
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Minimal Temperatur (°C)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 40.0 " name="MinTemp">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Maximal Temperatur (°C)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 40.0 " name="MaxTemp">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Rainfall Intensity (mm)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 0.0 - 367.6 " name="Rainfall">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Wind Gust Speed (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 7.0 - 135.0 " name="WindGustSpeed">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Wind Speed at 9 am (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 7.0 - 135.0 " name="WindSpeed9am">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Wind Speed at 3 pm (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 7.0 - 135.0 " name="WindSpeed3pm">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Humidity at 9 am (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 0.0 - 100.0 " name="Humidity9am">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Humidity at 3 pm (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of 0.0 - 100.0 " name="Humidity3pm">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Pressure at 9 am (hph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 100.0 " name="Pressure9am">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Pressure at 3 pm (hph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 100.0 " name="Pressure3pm">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Temperature at 9 am (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 100.0 " name="Temp9am">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="formGroupExampleInput">Temperature at 3 pm (Mph)</label>
													<input type="number" class="form-control" id="formGroupExampleInput"
														placeholder="Input a number with a range of -10.0 - 100.0 " name="Temp3pm">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label for="RainToday">Is it a rainy day?</label>
													<select class="form-control" id="RainToday" name="RainToday" required="required">
														<option>-- Choose a Condition --</option>
														<option value="0">No, it's not raining today</option>
														<option value="1">Yes, it's raining today</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="card text-center">
											<div class="card-header bg-dark text-white font-weight-bold">
												Weather Prediction Results
											</div>
											<div class="card-body">
												<p class="card-text">{{ prediction_text }}</p>
											</div>
										</div>
										<div class="col-lg-12 text-center mt-3 mb-5">
											<div id="success"></div>
											<button class="sim-btn hvr-bounce-to-top" type="submit">Prediksi</button>
										</div>
									</form>
					
								</div>
								<a onClick="window.location.reload()">
									<div class="card text-center">
										<div class="card-body btn btn-danger font-weight-bold">
											Refresh Page
										</div>
									</div>
								</a>
							</div>
						</div>
				</div>
			</div>

		</div>
	</div>


	<a href="#" id="scroll-to-top" class="dmtop global-radius">
		<div style="font-size: 20px;">Top</div>
	</a>

	<!-- ALL JS FILES -->

	<script src="{{ url_for('serve_static', filename='js/all.js') }}"></script>
	<!-- Camera Slider  -->
	<script src="{{ url_for('serve_static', filename='js/jquery.mobile.customized.min.js ') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/jquery.easing.1.3.js') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/parallaxie.js') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/headline.js') }}"></script>
	<!-- Contact form JavaScript -->
	<script src="{{ url_for('serve_static', filename='js/jqBootstrapValidation.js') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/contact_me.js') }}"></script>
	<!-- ALL PLUGINS -->
	<script src="{{ url_for('serve_static', filename='js/custom.js') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/jquery.vide.js') }}"></script>
	<!-- Style JS -->
	<script src="{{ url_for('serve_static', filename='js/style.js') }}"></script>
	<!-- UIKIT JS CDN -->
	<script src="{{ url_for('serve_static', filename='js/uikit.min.js') }}"></script>
	<script src="{{ url_for('serve_static', filename='js/uikit-icons.min.js') }}"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>